<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            @Html.Partial("_AdminSidebar")
            <div class="col-lg-8 ftco-animate fadeInUp ftco-animated">
                <h2 class="mb-3">Hoş geldiniz, @User.Identity.Name</h2>
                 <p>İşlem yapmak için lütfen sol menüden bir alan seçin!</p>
                </div>
            </div> <!-- .col-md-8 -->

        </div>
    </div>
</section>