<div class="col-lg-4 sidebar ftco-animate fadeInUp ftco-animated">
    <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
        <h3 class="heading">Menüler</h3>
        <ul class="categories">
            <li><a asp-action="SliderIndex">Slider Yönetimi</a></li>
            <li><a asp-action="EditDescription">Açıklama Metni Yönetimi</a></li>
            <li><a asp-action="UretimEdit">Üretim Yönetimi</a></li>
            <li><a asp-action="CityIndex">Şehir Yönetimi</a></li>
            <li><a asp-action="CesitIndex">Ürün Çeşitleri Yönetimi</a></li>
            <li><a asp-action="KullaniciIndex">Kullanıcı Yönetimi</a></li>
        </ul>
    </div>
</div>